{{ do(	res.append(('js/jquery','js')) )}}
{{ do(	res.append(('js/jdmd_widget','js')) )}}
{{ do(	res.append(('css/jdmd_widget','css')) )}}
{{ do(	res.append(('js/util/ajaxSubmit','js')) )}}
{{ do(	ctrl.addResByPath('js') )}}

<div class="user_login common_center_block">
	<div class="common_page_title">登录</div>
	<form method="post" id="submit_form"
		action="{{ROOT}}/user/ajaxLogin"
		redirect="{{redirect}}"
		>
		<table>
			<tr>
				<td>登录名</td>
				<td><input name="loginname" class="jdmd_input" validate="notempty" /></td>
			</tr>
			<tr>
				<td>密码</td>
				<td><input type="password" name="password" class="jdmd_input" validate="notempty" /></td>
			</tr>
		</table>
		<input type="submit" value="登录" class="jdmd_validate_submit" />
		<a href="{{ROOT}}/user/Register?redirect={{redirect}}">注册</a>
	</form>
</div>
