.discuss_posttopic .form_block .h{
	font-size: 16px;
	color: blue;
	vertical-align: top;
	display: inline-block;
	width: 40px;
}
.discuss_posttopic .form_block .input_title input,
.discuss_posttopic .form_block .input_content textarea{
	width: 250px;
	padding: 0;
	border: solid 1px grey;
}
.discuss_posttopic .form_block .input_content textarea{
	height: 300px;
}
